<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dance.Wpf.DanceResourceKey" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Dance.Wpf.DanceResourceKey>
            <setting name="BRUSH_FOREGROUND" serializeAs="String">
                <value>BRUSH_FOREGROUND</value>
            </setting>
            <setting name="BRUSH_MOUSE_OVER" serializeAs="String">
                <value>BRUSH_MOUSE_OVER</value>
            </setting>
        </Dance.Wpf.DanceResourceKey>
    </applicationSettings>
</configuration>